html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

.App {
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.form {
    gap: 10px;
    margin: 0 auto 1.5em auto;
    max-width: 600px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.header {
    align-items: center;
    background-color: black;
    color: white;
    padding: 0 1em;
    margin-bottom: 1em;
}

header > nav {
    margin: 0 auto;
}

nav > li {
    list-style: none;
}

li > a {
    font-size: 1.15rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

li > a:hover {
    opacity: 0.65;
}

.info-card-container {
    width: 65%;
    margin: 0 auto;
    border-radius: 1em;
    background-color: white;
    padding: 2em 0;
}
